*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
  
}
.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A ;
    color: #FFFFFF;
    font-weight: 700px;
    font-size: 20px;
    border: 0px;
    padding: 18px 35px;
}
/* header and navigation style */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right ,left;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800px;
    font-size: 45px;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0px 200px;
}
.banner-sub-title{
    font-weight: 700px;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-title{
    font-size: 45px;
    font-weight: 600px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 50px;
}
.btn-primary{
    margin-top: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0px auto;

}
/* about me */
.about{
margin-top: 130px;
background-color: #FFF8F3;
border-radius: 10px;
padding: 130px 150px;
text-align: center;
}
.about-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700px;
    font-size: 35px;

}
.about-description{
 color: #757575;
 font-size:18px ;
 margin-bottom: 30px;
}

.about-info-cont{
    display: flex;
    justify-content: space-around;
    
}
.about-info-title{
    font-size: 20px;
    color: #757575;
    margin-top: 130px;

}
.info-descriped{
    font-size: 20px;
    font-weight: 700px;
    color: #474747;
}
/* what i do */
.what-i-do{
    margin-top: 130px;
    text-align: center;
    margin-bottom: 130px;
    font-size: 35px;
}
.skill-cont{
    display: flex;
    gap: 24px;
}
.skill{
    background: #FFF8F3;
    box-shadow: 0px 0px 50px  rgba(130, 128, 128, 0.6);
    /* box-shadow: 0px 50px 0px lightgray(1,1,1,1); */
    border-radius: 5px;
    padding: 40px;
}
.skill-title{
    font-size: 20px;
    font-weight: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.skill-descriped{
    color: #474747;
}

/* resume style */
.resume{
    /* display: flex;
    gap: 34px; */
}
.section-title{
    margin-top: 130px;
    text-align: center;
    margin-bottom: 130px;
    font-size: 35px;
}
.resume-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700px;
    display: flex;
    margin-bottom: 30px;

}
.sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.descriped{
color:burlywood;
margin-top: 10px;
}
.resume-cont{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.title{
margin-top: 10px;
margin-bottom: 10px;
/* color: #757575; */
}
 
   
}
 .resume-item{
   /* margin-bottom: 20px;
   margin-top: 10px; */
        color: #757575;
        font-size: 20px;
        font-weight: 600px;
         margin-top: 30px;
         margin-bottom: 30px;
         
 }
    
.resume-conts{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.resume-contss{
    display: flex;
    gap: 24px;
    margin-top: 50px;

}
.resume-btn{
    margin: 50px;;
    text-align: center;
}

/* contract */
.contract{
    display: flex;
    background-color: rgb(248, 247, 246);
    gap: 100px;
    padding: 130px 200px;
}
.contract.section-title{
    text-align: left;
   
}
.contract input[type="text"],input[type="email"],textarea{
    margin-bottom: 24px;
    border: 0px;
    width: 100%;
    padding:18px 30px;
}
input{
    height: 54px;
}
textarea{
    height:64 ;
}
.contract a{
    text-decoration: none;
    
}